*{
    margin: 0%;
    padding: 0%;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: auto;
}

#nav-list{
    display: flex;
    gap: 80px;
    list-style-type: none;
}

.n-anchor{
    color: goldenrod;
    font-size: 20px;
    font-weight: bolder;
    text-decoration: underline none;
}

/* hero section */
#hero-container{
    width: 95%;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;

}



#right-image{
    width: 500px;
    height: 320px;
}

h1{
    font-size: 75px;
    font-weight: 700;
    color: #c39253;
    margin-top: 16px;
}

h2{
    font-size: 50px;
    font-weight: 500;
}

p{
    font-size: 30px;
    margin-top: 15px;
}
.box{
    padding: 20px;
    margin: 20px;
    border: 1px solid #ccc;
    height: 200px;
    width: 300px;
    background-color: #f4f3f7;
    box-shadow:  rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-radius: 5px;
    align-items: center;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
 .box br{
    color: #c39253;
    font-size: 100px;
    font-weight: 100;
    margin-top: 1.7em;
    padding-left: 4em;

} 
.box img{
    padding-left: 7em;
    font-size: px;
}
span{
    font-size: 25px;
    font-weight: 500;
}
.span-1{
    color: black
    padding-left: 1.5em;
    font-weight: 900;
    font-size: 20px;

}
h3{
    font-size: 30px;
    font-weight: 400;
    margin-top: 15px;
    color: black
}
body{
    background-image:  url(./image/image\ 5.png);
    background-size: 700px;
    backface-visibility: hidden;
}

